<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Country CRUD Mongoose</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans|Playball' rel='stylesheet' type='text/css'>
</head>
<body>